<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <title>Portfolio - Charlotte L</title>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/arrow-down.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/arrow-down.png">
  <!--[if IE]><link rel="shortcut icon" href="/static/img/static/img/arrow-down.png"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <!-- <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json"> -->
  <!-- <meta name="theme-color" content="#4DBA87"> -->

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
  <meta name="apple-mobile-web-app-title" content="Portfolio">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/static/img/arrow-down.png">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/static/img/arrow-down.png">
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
</body>

</html>
