<template>
  <transition name="fadecontact" >
    <div id="contact">
      <section class="wrap-contact ">
        <article class="title-article container">
          <div class="row">
              <div class="col-12">
                  <h1>{{ sections.title }}</h1>
              </div>
          </div>
      
          <div class="row">
            <div id="contact-form" class="contact-form col-12">

              <div v-if="isSending" class="loading">Transfert...</div>
              <div v-if="send" class="sent">Message envoyé.</div>

              <form class="form" @submit="onSubmit">
                <div class="row">
                  <div class="col-12">
                    <input required name="firstname" v-model='contact.firstname' placeholder="Votre prénom" type="text" autocomplete="off">
                  </div>
                   <div class="col-12">
                    <input required name="name" v-model='contact.name' placeholder="Votre nom" type="text" autocomplete="off">
                  </div>                  
                  <div class="col-12">
                    <input required name="email" v-model="contact.email" placeholder="Votre e-mail" type="email" autocomplete="off">
                  </div>
                  <div class="col-12">
                    <textarea name="message" v-model="contact.message" rows="4" placeholder="Message"></textarea>
                  </div>
                  <div class="col-12">
                    <div class="green-block"></div>
                    <button class="button">Envoyer.</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </article>
    </section>    
    </div>
  </transition>               
</template>
<script>
import SectionsApi from "@/api/Sections";
import VueResource from "vue-resource";
import axios from "axios";

export default {
  data() {
    return {
      isSending: false,
      send: false,
      sent: true,
      loading: true,
      sections: [],
      contact: {
        firstname: "",
        name: "",
        email: "",
        message: ""
      }
    };
  },
  created() {
    SectionsApi.getSection(4)
      .then(sections => {
        this.sections = sections;
      })
      .catch(error => console.log(error))
      .finally(() => {
        this.loading = false;
      });
  },
  methods: {
    clearForm() {
      for (let field in this.contact) {
        this.contact[field] = "";
      }
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.isSending = true;

      setTimeout(() => {
        let form = new FormData();
        for (let field in this.contact) {
          form.append(field, this.contact[field]);
        }
        axios
          .post(
            "https://charlottel.promo-17.codeur.online/pwa-front/static/php/app.php",
            form
          )
          .then(response => {
            console.log(response);
            this.clearForm();
            this.isSending = false;
            this.send = true;
          })
          .catch(e => {
            console.log(e);
          });
      }, 1000);
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
$green: #82ca9c;
$dark-grey: #212121;
$light-grey: #f7f7f7;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fadecontact-enter-active,
.fadecontact-leave-active {
  transition: 0.3s;
}

.fadecontact-enter,
.fadecontact-leave-to {
  transition: 0.5s;
  transform: translateY(500px);
  opacity: 0;
}
.wrap-contact {
  article {
    font-family: "Archivo Black", sans-serif;
    text-align: left;
    padding: 30px 15px;

    h1 {
      font-size: 25px;

      &:after {
        content: "";
        display: block;
        width: 10%;
        margin: 25px 0;
        margin-right: auto;
        border-bottom: 1px solid $dark-grey;
        margin-bottom: 40px;
      }
    }

    p {
      margin-bottom: 30px;
    }
  }
  .contact-form {
    .loading {
      margin-bottom: 15px;
      color: $green;
      font-size: 14px;
    }
    .sent {
      margin-bottom: 15px;
      color: $green;
      font-size: 14px;
    }
    .form {
      input[type="text"],
      input[type="email"],
      textarea {
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        border-bottom: 1px solid $green;
        width: 100%;
        margin-bottom: 20px;
        background: none;
      }
      textarea {
        height: 60px;
      }
      .button {
        padding: 15px 15px;
        border: none;
        background: none;
        font-family: "Archivo Black", sans-serif;
        text-align: center;
        margin: auto;
        display: block;
        font-size: 23px;
        color: $dark-grey;
      }
      .green-block {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          display: block;
          width: 120px;
          height: 105px;
          background-color: $green;
          top: 0px;
          right: 0;
          z-index: -10;
        }
      }
    }
  }
  .button {
    a {
      &.button-prev {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
</style>
