<template>
  <transition name="fadehome" >
    <div id="home">
        <section class="wrap-section ">
          <article class="title-article container" id="article-complete">
            <div class="row">
                <div class="col-12">
                    <h2>Charlotte Lacroix</h2>
                </div>
            </div>
            <div class="green-block"></div>
            <div class="row">
                <div class="col-12">
                    <h1>Développeuse<br>
                      <span class="span-h1">Front-End.</span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-2 offset-10 button">
                  <router-link :to="'who'" class="button-next"><img src="../assets/arrow-down.png" alt="Down"></router-link>
                </div>
            </div> -->
        </article>
      </section>   
    </div>
  </transition>
</template>
<script>
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
$green: #82ca9c;
$dark-grey: #212121;
$light-grey: #f7f7f7;

.fadehome-enter-active,
.fadehome-leave-active {
  transition: 0.3s;
}

.fadehome-enter,
.fadehome-leave-to {
  transition: 0.5s;
  transform: translateY(500px);
  opacity: 0;
}
.wrap-section {
  article {
    padding: 30px 15px;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    h2 {
      font-size: 25px;
      &:after {
        content: "";
        display: block;
        width: 10%;
        margin: 25px auto;
        border-bottom: 1px solid $dark-grey;
      }
    }
    .green-block {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 120px;
        height: 120px;
        background-color: $green;
        top: 0;
        right: 9%;
        z-index: -10;
      }
    }
    h1 {
      font-size: 31px;
      margin-bottom: 45px;
      .span-h1 {
        font-size: 43px;
      }
    }
    p {
      margin-bottom: 60px;
    }
    .button {
      a {
        &.button-next {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
</style>
