<template>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-light">
                        <ul class="navbar-nav">
                            <li v-for="menuElem in menuElements" v-bind:key="menuElem.name" class="nav-item">
                                <router-link :to="menuElem.url"><i v-bind:class="menuElem.img"></i></router-link>
                            </li>
</ul>

                    </nav>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
export default {
  name: "Menu",
  data() {
    return {
      menuElements: [
        {
          url: "/",
          name: "Home",
          img: "fas fa-home"
        },
        {
          url: "/who",
          name: "Qui suis je",
          img: "fas fa-user-circle"
        },
        {
          url: "/projets",
          name: "Projets",
          img: "fas fa-folder-open"
        },
        {
          url: "/experiences",
          name: "Experiences",
          img: "fas fa-level-up-alt"
        },
        {
          url: "/contact",
          name: "Contact",
          img: "fas fa-envelope"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");

$green: #82ca9c;
$dark-grey: #212121;
header {
  padding: 8px 0 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .navbar {
    justify-content: space-around;

    .navbar-toggler {
      padding: 0;
      border: none;
    }
    .navbar-nav {
      flex-direction: row;
      justify-content: center;

      .nav-item {
        color: $dark-grey;
        padding: 5px 20px;

        a {
          font-family: "Archivo Black", sans-serif;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}
</style>
