<template>                      
  <transition name="fadeprojets">
    <div id="projects">
      <section class=" wrap-projects">
        <article class="title-article container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ sections.title }}</h1>
                </div>
            </div>
            <div class="green-block"></div>
            <div class="row">
                <div class="col-12">
                    <p>{{ sections.content }}</p>
                </div>
            </div>
            <div class='carousel-view row'>
              <div class='carousel-controls col-12'>
                <button class='carousel-controls__button' @click="previous">&#10094;</button>
                <button class='carousel-controls__button' @click="next">&#10095;</button>
              </div>
              <div class="col-12">
                <transition-group name="fade"
                  class='carousel row'
                  tag="ul">
                  <li v-for="item in items" v-bind:key="item.id"  class='item col-12'>
                      <div class="">
                        <div class="background-img" :style="{ 'background-image': 'url(' + item.img + ')' }"></div>
                        <div class="">
                          <h3>{{ item.title }}</h3>
                          <p>{{ item.content }}</p>
                          <a v-bind:href="item.link">en savoir</a>
                        </div>
                    </div>
                  </li>
                </transition-group>
              </div>
            </div>
        </article>
      </section>    
    </div>                              
  </transition>
</template>

<script>
import SectionsApi from "@/api/Sections";
import ItemsApi from "@/api/Items";

export default {
  name: "SectionProjet",
  data() {
    return {
      loading: true,
      sections: [],
      items: []
    };
  },
  created() {
    SectionsApi.getSection(2)
      .then(sections => {
        this.sections = sections;
      })
      .catch(error => console.log(error))
      .finally(() => {
        this.loading = false;
      });

    ItemsApi.getItems()
      .then(items => {
        this.items = items["hydra:member"];
        console.log(items["hydra:member"]);
      })
      .catch(error => console.log(error))
      .finally(() => {
        this.loading = false;
      });
  },
  methods: {
    next() {
      const first = this.items.shift();
      this.items = this.items.concat(first);
    },
    previous() {
      const last = this.items.pop();
      this.items = [last].concat(this.items);
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
$green: #82ca9c;
$dark-grey: #212121;
$light-grey: #f7f7f7;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fadeprojets-enter-active,
.fadeprojets-leave-active {
  transition: 0.3s;
}

.fadeprojets-enter,
.fadeprojets-leave-to {
  transition: 0.5s;
  transform: translateY(500px);
  opacity: 0;
}

.wrap-projects {
  max-height: 80vh;
  article {
    font-family: "Archivo Black", sans-serif;
    text-align: left;
    padding: 30px 15px;
    overflow: hidden;

    h1 {
      font-size: 25px;

      &:after {
        content: "";
        display: block;
        width: 10%;
        margin: 25px 0;
        margin-right: auto;
        border-bottom: 1px solid $dark-grey;
      }
    }
    .green-block {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 120px;
        height: 105px;
        background-color: $green;
        top: 100px;
        right: 9%;
        z-index: -10;
      }
    }
    p {
      margin: 0;
    }
    .carousel-view {
      text-align: right;
      .carousel-controls {
        margin-bottom: 5px;
        .carousel-controls__button {
          background-color: initial;
          border: none;
          color: $dark-grey;
        }
      }
      .fade-enter-active,
      .fade-leave-active {
        transition: opacity 0.5s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }

      .fade-right-projets-enter-active,
      .fade-right-projets-leave-active {
        transition: 0.3s;
      }

      .fade-right-projets-enter,
      .fade-right-projets-leave-to {
        transition: 0.5s;
        transform: translateY(500px);
        opacity: 0;
      }
      .carousel {
        list-style: none;
        padding: 0;

        .item {
          height: 100vh;

          .background-img {
            width: auto;
            height: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 5px;
          }

          h3 {
            font-size: 15px;
          }
          p {
            font-size: 13px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
          img {
            width: 100%;
            height: auto;
          }
          a {
            color: $dark-grey;
            transition: all 0.3s;
            font-size: 13px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 10px;
            &:hover {
              color: $dark-grey;
              transition: all 0.3s;
            }
            &:after {
              content: "+";
              background-color: $green;
              color: $dark-grey;
              margin-left: 3px;
              padding: 0px 3px;
            }
          }
        }
      }
    }
  }
  .button {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    left: 0;

    a {
      &.button-next {
        img {
          width: 30px;
          height: 30px;
        }
      }
      &.button-prev {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
</style>
