<template>
  <transition name="fadewho">
    <div id="who">
      <section class="wrap-who ">
        <article class="title-article container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ sections.title }}</h1>
                </div>
            </div>
            <div class="green-block"></div>
            <div class="row">
                <div class="col-12">
                  <p>{{ sections.content }}</p>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-12 button">
                    <router-link :to="'/'" class="button-prev"><img src="../assets/arrow-up.png" alt="Up"></router-link> 
                    <router-link :to="'projets'" class="button-next"><img src="../assets/arrow-down.png" alt="Down"></router-link>
                </div>
            </div> -->
        </article>
      </section>   
    </div>
  </transition> 
</template>

<script>
import SectionsApi from "@/api/Sections";

export default {
  name: "SectionProjet",

  data() {
    return {
      loading: true,
      sections: []
    };
  },
  created() {
    SectionsApi.getSection(1)
      .then(sections => {
        this.sections = sections;
      })
      .catch(error => console.log(error))
      .finally(() => {
        this.loading = false;
      });
  }
};
</script>


<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
$green: #82ca9c;
$dark-grey: #212121;
$light-grey: #f7f7f7;

.fadewho-enter-active,
.fadewho-leave-active {
  transition: 0.3s;
}

.fadewho-enter,
.fadewho-leave-to {
  transition: 0.5s;
  transform: translateY(500px);
  opacity: 0;
}

.wrap-who {
  article {
    padding: 30px 15px;
    font-family: "Archivo Black", sans-serif;
    text-align: right;
    h1 {
      font-size: 25px;

      &:after {
        content: "";
        display: block;
        width: 10%;
        margin: 25px 0;
        margin-left: auto;
        border-bottom: 1px solid $dark-grey;
      }
    }
    .green-block {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 120px;
        height: 105px;
        background-color: $green;
        top: 100px;
        left: 9%;
        z-index: -10;
      }
    }
    p {
      margin-bottom: 60px;
    }
    .button {
      display: flex;
      justify-content: space-between;
      a {
        &.button-next {
          img {
            width: 30px;
            height: 30px;
          }
        }
        &.button-prev {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
</style>
