<template>
  <div id="app">
    <menu-header></menu-header>
    <router-view/>
  </div>
</template>

<script>
import MenuHeader from "./components/MenuHeader";

export default {
  name: "App",
  components: {
    MenuHeader
  }
};
</script>

<style lang="scss">
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

$green: #82ca9c;
$dark-grey: #212121;
$light-grey: #f7f7f7;
p {
  color: $dark-grey;
}
h1 {
  color: $dark-grey;
}
h2 {
  color: $dark-grey;
}
h3 {
  color: $dark-grey;
}
a {
  color: $dark-grey;
}
</style>
